In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('crop-prediction.csv')

In [3]:
df.sample(7)

        N   P   K        ph    Rainfall  Temperature   Humidity       Crop
175    77  52  17  5.714800   75.822705    24.863749  65.742005      Maize
3375   31  36  29  6.460543   97.461192    33.936799  52.721703      mango
3996   43  64  47  6.825665  102.270823    38.589545  91.580765       rice
2764   22  36  16  8.184229   64.585596    30.581395  50.771481  sugarcane
1113   11  27  30  6.394743   89.856465    27.696378  48.562249      Mango
1017  109  79  45  6.490074  108.664640    27.667528  79.685428     Banana
2022   84  55  38  6.956683  173.101710    26.874839  79.787252       Jute

In [5]:
df['Crop'].value_counts().count()

np.int64(35)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4400 entries, 0 to 4399
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            4400 non-null   int64
 1   P            4400 non-null   int64
 2   K            4400 non-null   int64
 3   ph           4400 non-null   float64
 4   Rainfall     4400 non-null   float64
 5   Temperature  4400 non-null   float64
 6   Humidity     4400 non-null   float64
 7   Crop         4400 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 275.1+ KB